{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["^vue$", "<THIRD_PARTY_MODULES>", "<BUILTIN_MODULES>", "^[.]"],
  "importOrderCaseSensitive": true
}
